<nav>
  <div class="nav-wrapper">
    <form>
      <div class="input-field" style="background-color: #118ACB">
        <input id="search" placeholder="Search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons" style="color: red">cancel</i>
      </div>
    </form>
  </div>
</nav>

<!--<ul id="slide-out" class="sidenav">-->
  <!--<li><div class="user-view">-->
    <!--<a href="#name"><span class="white-text name">John Doe</span></a>-->
    <!--<a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>-->
  <!--</div></li>-->
  <!--<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>-->
  <!--<li><a href="#!">Second Link</a></li>-->
  <!--<li><div class="divider"></div></li>-->
  <!--<li><a class="subheader">Subheader</a></li>-->
  <!--<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
<!--</ul>-->
<!--<a href="" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->

<!--<ul id="slide-out" class="sidenav">-->
  <!--<li><a href="#!">First Sidebar Link</a></li>-->
  <!--<li><a href="#!">Second Sidebar Link</a></li>-->
<!--</ul>-->
<!--<a href="#" data-activates="slide-out" class="button-collapse">Apasa aici</a>-->

<!--<script>-->
  <!--// document.addEventListener('DOMContentLoaded', function() {-->
  <!--//   var elems = document.querySelectorAll('.sidenav');-->
  <!--//   var instances = M.Sidenav.init(elems, options);-->
  <!--// });-->
  <!--$(".button-collapse").sideNav();-->
<!--</script>-->

<app-event></app-event>
