<div class="row">
    <div class="col s12 m5">
      <div class="card-panel">
        <i class="material-icons">mood</i>
        <br>
        <span class="black-text">Name</span>
        <div class="row">
          <div class="input-field col s6">
            <input value="" id="first_name2" type="text" class="validate">
            <label class="active" for="first_name2"></label>
   </div>
 </div>
        <span class="black-text">Mail</span>
        <div class="row">
   <div class="input-field col s6">
     <input value="" id="first_name2" type="text" class="validate">
     <label class="active" for="first_name2"></label>
   </div>
 </div>
        <form action="#">
   <p>
     <label>
       <input type="checkbox" />
       <span>Looking for job</span>
     </label>
   </p>
   </form>
   <ul class="collection">
      <li class="collection-item">Job 1</li>
      <li class="collection-item">Job 2</li>
      <li class="collection-item">Job 3</li>
      <li class="collection-item">Job 4</li>
      <li class="collection-item">Job 5</li>
    </ul>
      </div>
    </div>
  </div>
