
  <div class="container row">
    <h3 style="text-align: center;">Login</h3>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field inputStyle">
            <input placeholder="Email" id="first_name" type="email" class="validate">
          </div>
          <div class="input-field inputStyle">
            <input placeholder="Parola" id="last_name" type="password" class="validate">
          </div>
        </div>
        <div class="divAlign">
          <button class="btn-large">Autentificare</button>
        </div>
      </form>
    </div>
  </div>
