<div class = "container">
  <h4 style="text-align: center">Informatii utile despre NATO</h4>
  <ul>
    <li><a href="https://www.ncia.nato.int/NewsRoom/Pages/18102018.aspx
">https://www.ncia.nato.int/NewsRoom/Pages/18102018.aspx
    </a></li>
    <li><a href="https://www.nato.int/cps/en/natohq/news.htm ">https://www.nato.int/cps/en/natohq/news.htm </a></li>
    <li><a href="https://www.nato.int/cps/en/natolive/recruit-wide.htm">https://www.nato.int/cps/en/natolive/recruit-wide.htm</a></li>
    <li><a href="http://posturi.gov.ro/">http://posturi.gov.ro/</a></li>
    <li><a href=" https://www.nato.int/cps/en/natolive/71157.htm">https://www.nato.int/cps/en/natolive/71157.htm</a></li>
    <li><a href="https://europa.eu/youth/volunteering/evs-organisation">https://europa.eu/youth/volunteering/evs-organisation</a></li>
    <li><a href="https://eeas.europa.eu/headquarters/headquarters-homepage_en/2463/Junior%20Professional%20in%20Delegation%20(JPD) ">https://eeas.europa.eu/headquarters/headquarters-homepage_en/2463/Junior%20Professional%20in%20Delegation%20(JPD) </a></li>
  </ul>
</div>
