<nav>
  <div class="nav-wrapper">
    <div style="background-color: #118ACB" >
      <a href="#" class="brand-logo center">JobMando</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li class="colored"><a href="">Noutati</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li class="colored"><a routerLink = "login">Autentificare</a></li>
      </ul>
      <div class="row center" style="width: 100%; background-color: #118ACB;">
        <ul class="hide-on-med-and-up show-on-medium center-align" style="width: 100%; background-color: #118ACB;">
          <div class="center">
            <li><a class="colored" routerLink="" style="color: white;">Noutati</a></li>
          </div>
        </ul>
        <ul class="hide-on-med-and-up show-on-medium right">
          <li><a class="colored" routerLink = "../login" style="color: white">Autentificare</a></li>
        </ul>
    </div>
    </div>
  </div>
</nav>
