<nav>
  <div class="nav-wrapper">
    <div style="background-color: #118ACB" >
      <a href="#" class="brand-logo center">Atlantik</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="colored"><a href="">Noutati</a></li>
        <li class="colored"><a href="">Job-uri</a></li>
        <li class="colored"><a routerLink = "login">Autentificare</a></li>
      </ul>
      <br>
      <div class="row center" style="width: 100%; background-color: #118ACB;">
        <ul class="hide-on-med-and-up show-on-medium center" style="width: 100%; background-color: #118ACB; ">
          <li><a class="colored" href="" style="color: white;">Noutati</a></li>
          <li><a class="colored" href="" style="color: white">Job-uri</a></li>
          <li><a class="colored" routerLink = "login" style="color: white">Autentificare</a></li>
        </ul>
    </div>
    </div>
  </div>
</nav>
