<form style="border:1px solid #ccc">
  <div class="container">
    <h1>Inregistrare</h1>
    <p>Completeaza acest formular pentru a-ti crea un cont</p>
    <hr>
    <input type="text" placeholder="Nume si prenume" name="name" required>

    <label ><b>Email</b></label>
    <input type="text" placeholder="Email" name="email" required>

    <input type="password" placeholder="Parola" name="psw" required>

    <input type="password" placeholder="Confirma parola" name="psw-repeat" required>

    <p>Creand acest cont, esti de acord cu <a href="#" style="color:dodgerblue">Termenii & Conditiile</a>.</p>

    <div class="clearfix">
      <a routerLink="../login"><button type="button" class="cancelbtn">Anulare</button></a>
      <a routerLink=""><button type="submit" class="signupbtn">Inregistreaza-te</button></a>
    </div>
  </div>
</form>
